<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="esper.library" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.zebra.mdna.els.permission.PROVIDER" />

    <queries>
        <package android:name="com.zebra.mdna.els" />
        <package android:name="io.shoonya.shoonyadpc" />
    </queries>

    <application
        android:name=".AuthApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_bridge_notification"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_bridge_notification"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZebraEsperBridge"
        tools:targetApi="31">

        <meta-data
            android:name="android.content.APP_RESTRICTIONS"
            android:resource="@xml/app_restrictions" />

        <activity
            android:name=".ui.ConfigActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.ZebraEsperBridge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.ManagedConfigReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_RESTRICTIONS_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.BridgeService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>
